*{
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.App .mainsection {
    margin: 0;
    padding: 0;
    display: flex;
}
.App .left {
    margin: 0;
    padding: 0;
    float: left;
    width: 15%;
}
.App .right {
    margin: 0;
    padding: 0;
    float: right;
    width: 85%;
}
@media screen and (max-width: 1080px) {
    .App .left {
        margin: 0;
        padding: 0;
        float: left;
        width: 10%;
    }
    .App .right {
        margin: 0;
        padding: 0;
        float: right;
        width: 90%;
    }
}